<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.enso.mybatisdemo.mapper.online.ImgsMapper">

    <select id="findSICByDate" resultType="String">
        select data from imgs where year=#{year} and month=#{month} and day=#{day} and type="SIC"
    </select>

    <select id="findNAOByMonth" resultType="String">
        select data from imgs where year=#{year} and month=#{month} and type="NAO"
    </select>

    <select id="findNAOCORRByMonth" resultType="String">
        select data from imgs where year=#{year} and month=#{month} and type="NAO_CORR"
    </select>


    <select id="findAllByType" resultType="Imgs">
        select * from imgs where type=#{type}
    </select>
</mapper>