<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.enso.mybatisdemo.mapper.online.Info_sic_latlonMapper">
    <select id="findlatlon" resultType="Info_sic_latlon">
        select * from info_sic_latlon where id=1
    </select>


</mapper>