<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.enso.mybatisdemo.mapper.online.Tj_naoMapper">

    <select id="findByMonthAndModel" resultType="Tj_nao">
        select * from tj_nao where year=#{year} and month=#{month} and var_model="index_NAO_MCD"
    </select>

</mapper>